body{
    background-color: black;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
    background-color: pink;
  }
  
.card:hover {
    background-color: purple;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
  }
  
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 2px;
}

.card__inner {
    height: 100px;
    text-align: center;
    
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    
}

span{
    font-size: 10px;
}

p{
    font-weight: 800;
}
h1 , h2 {
    color: white;
}



@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

h1 {  
    animation: 3s slidein-right;
}

h2 {  
    animation: 3s slidein-left;
}